body {
  line-height: 1.5;
  color: white;
  font-family: 'Open Sans', sans-serif;
  background: url('../images/twitter-background-wallpaper.jpg');

  /* Full Page Background Receipe */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.container {
  width: 500px;
  margin: 40px;
  background: rgba(164,47,28,0.5);
  padding: 15px;
  border-radius: 10px;
}

h1 {
	font-size: 80px;
	margin-bottom: -50px;
  font-family: 'Source Code Pro', ;
}

a {
	color: #BFE35B;
	text-decoration: none;
}